apiVersion: v1
kind: Pod
metadata:
  name: spec-pod
  labels:
    greedy: catA
spec:
  containers:
  - image: jmmisd/testspec:1.0.0
    command: ["/bin/bash"]
    args: ["-c" , "source shrc" , "bin/relocate" , "runspec --config=cslab-spec-static.cfg --size=ref \
        --noreportable --iterations=1 bzip2" , " sleep 9999999999999999" ]
    name: spec-ctn
  restartPolicy: "Never"
